/* GLOBAL STYLES */
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  width: 100%;
}
/* CAROUSEL STYLES */
.carousel_container {
  position: relative;
  height: 70%;
  width: 100%;
  margin-bottom: 15px;
}
.hero_carousel_item {
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  z-index: 0;
}
.hero_carousel_item::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.2;
  z-index: -10;
  top: 0;
  left: 0;
}
.hero_carousel_item:focus {
  outline: none;
}
.hero_carousel_copy-container {
  width: 100%;
  height: 100%;
}
.hero_carousel_content {
  width: 80vw;
  margin: 0 auto;
  margin-top: 10vh;
}
.hero_carousel_copy {
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
  font-size: 6vw;
  font-weight: 600;
  font-family: "Oswald", sans-serif;
  letter-spacing: 5px;
  line-height: 7vw;
}
.hero_carousel_cta {
  text-align: center;
  margin-top: 50px;
}
.hero_carousel_icon {
  display: inline-block;
  width: 7vh;
  height: 7vh;
  stroke-width: 0;
  stroke: white;
  fill: white;
}
.prev_container,
.next_container {
  position: absolute;
  width: 100px;
  height: 100%;
  z-index: 100;
  cursor: pointer;
}
.next_container {
  right: 0;
}
.prev,
.next {
  position: absolute;
  width: 50px;
  height: 50px;
  margin-top: 225%;
}
.prev {
  left: 10%;
}
.next {
  right: 10%;
}
.pagedown_container {
  width: 100%;
  position: relative;
  text-align: center;
  display: block;
  cursor: pointer;
}
.pagedown_text {
  left: 660px;
  bottom: 70px;
  z-index: 100;
  position: absolute;
  width: 200px;
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
  color: white;
  -webkit-animation: MoveUpDown 3s linear infinite;
  animation: MoveUpDown 3s linear infinite;
  letter-spacing: 2px;
}
.pagedown_graphic {
  width: 0;
  height: 0;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  border-bottom: 50px solid white;
  left: 50%;
  z-index: 100;
  position: absolute;
  margin-left: -50px;
  margin-top: -50px;
  -webkit-transition: border-color 0.5s ease-out;
  transition: border-color 0.5s ease-out;
}
.pagedown_graphic::before {
  content: "Discover more";
  left: -96px;
  top: -30px;
  position: absolute;
  width: 200px;
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
  color: white;
  letter-spacing: 2px;
  -webkit-animation: MoveUpDown 3s linear infinite;
  animation: MoveUpDown 3s linear infinite;
}
@keyframes MoveUpDown {
  0%,
  100% {
    -webkit-transform: translate3d(0px, 5px, 0px);
    transform: translate3d(0px, 5px, 0px);
  }
  50% {
    -webkit-transform: translate3d(0px, 0px, 0px);
    transform: translate3d(0px, 0px, 0px);
  }
}
.pagedown_directional {
  left: 50%;
  z-index: 100;
  position: absolute;
  margin-left: -100px;
  margin-top: -25px;
  width: 200px;
}
.pagedown_icon {
  display: inline-block;
  width: 16px;
  height: 16px;
  stroke-width: 0;
  stroke: black;
  fill: black;
  -webkit-transition: fill 0.5s ease-out;
  transition: fill 0.5s ease-out;
  -webkit-transition: stroke 0.5s ease-out;
  transition: stroke 0.5s ease-out;
}
@media screen and (max-width: 376px) {
  .carousel_container {
    height: 50%;
  }
  .prev_container,
  .next_container {
    width: 50px;
  }
  .hero_carousel_content {
    margin-top: 10vh;
  }
  .hero_carousel_copy {
    font-size: 30px;
    line-height: 35px;
  }
  .pagedown_graphic::before {
    font-size: 12px;
  }
  .hero_carousel_cta {
    margin-top: 30px;
  }
}
/* PRODUCTS */
.featured_products_container {
  width: 100%;
  padding: 30px 0;
}
.featured_products_inner {
  text-align: center;
  align-items: center;
  justify-content: center;
  width: 95%;
  position: relative;
  margin: 0 auto;
  font-size: 0;
}
.featured_product {
  padding: 35px;
  position: relative;
  vertical-align: top;
  display: inline-block;
  width: 25%;
}
.featured_product:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
  opacity: 0;
  -webkit-box-shadow: 0px 4px 6px 2px #d3d3d3;
  box-shadow: 0px 4px 6px 2px #d3d3d3;
  -webkit-transition: opacity 1s ease-out;
  transition: opacity 1s ease-out;
  -webkit-transition: transform 0.3s ease-out;
  -webkit-transition: -webkit-transform 0.3s ease-out;
  transition: -webkit-transform 0.3s ease-out;
  transition: transform 0.3s ease-out;
  transition: transform 0.3s ease-out, -webkit-transform 0.3s ease-out;
}
.featured_product:hover:after {
  opacity: 1;
  -webkit-transform: scale(1.05, 1.05);
  transform: scale(1.05, 1.05);
}
.featured_product_img {
  width: 100%;
  height: 225px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  overflow: hidden;
}
.featured_product_overlay {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  position: relative;
  -webkit-transform: translate3d(-102%, 0px, 0px);
  transform: translate3d(-102%, 0px, 0px);
  -webkit-transition: transform 0.2s ease-out;
  -webkit-transition: -webkit-transform 0.2s ease-out;
  transition: -webkit-transform 0.2s ease-out;
  transition: transform 0.2s ease-out;
  transition: transform 0.2s ease-out, -webkit-transform 0.2s ease-out;
  -webkit-transition-delay: 0.2s;
  transition-delay: 0.2s;
}
.featured_product:hover .featured_product_overlay {
  -webkit-transform: translate3d(0px, 0px, 0px);
  transform: translate3d(0px, 0px, 0px);
}
.featured_product_view {
  width: 100%;
  text-align: center;
  top: 50%;
  position: absolute;
}
.featured_product_viewlink {
  font-size: 25px;
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
  color: white;
  letter-spacing: 2px;
  cursor: pointer;
  -webkit-transition: color 0.5s ease-out;
  transition: color 0.5s ease-out;
}
.featured_product_view:hover .featured_product_viewlink {
  color: #00cccc;
}
.viewlink_icon {
  display: inline-block;
  width: 20px;
  height: 20px;
  stroke-width: 0;
  stroke: white;
  fill: white;
  -webkit-transition: stroke 0.5s ease-out;
  transition: stroke 0.5s ease-out;
  -webkit-transition: fill 0.5s ease-out;
  transition: fill 0.5s ease-out;
}
.featured_product_view:hover .viewlink_icon {
  stroke: #00cccc;
  fill: #00cccc;
}
.product_detail {
  text-align: left;
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
}
.product_name {
  font-size: 20px;
  color: black;
  margin-top: 15px;
  letter-spacing: 1px;
  font-weight: 600;
  height: 70px;
}
.product_weight {
  font-size: 18px;
  color: grey;
  margin-top: 15px;
  letter-spacing: 1px;
}
.product_pos {
  position: relative;
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
  margin-top: 15px;
  display: flex;
}
.product_price_container {
  font-size: 20px;
  position: absolute;
  bottom: 0;
  right: 0;
  letter-spacing: 1px;
  font-weight: 600;
  flex-grow: 1;
}
.product_price_container span {
  color: grey;
  text-decoration: line-through;
  font-size: 16px;
  margin-right: 10px;
}
.product_rating_container {
  position: absolute;
  bottom: 0;
  flex-grow: 1;
}
.divider {
  width: 100%;
  height: 15px;
  margin-bottom: 15px;
  border-bottom: 1px solid lightgrey;
}
.star-on {
  display: inline-block;
  width: 15px;
  height: 15px;
  stroke-width: 0;
  stroke: #73bbbb;
  fill: #73bbbb;
  margin-right: 2px;
}
.star-off {
  display: inline-block;
  width: 15px;
  height: 15px;
  stroke-width: 0;
  stroke: lightgray;
  fill: lightgray;
  margin-right: 2px;
}
.icon-minus {
  display: inline-block;
  width: 15px;
  height: 15px;
  stroke-width: 0;
  stroke: lightgray;
  fill: lightgray;
}
.icon-plus {
  display: inline-block;
  width: 15px;
  height: 15px;
  stroke-width: 0;
  stroke: black;
  fill: black;
}
.quantity_control {
  display: inline-block;
  width: 50%;
}
.quantity_add {
  display: inline-block;
  width: 50%;
}
.quantity_control span {
  display: inline-block;
  width: 30%;
}
.quantity_manual {
  width: 100%;
}
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
  -moz-appearance: textfield;
  text-align: center;
}
@media only screen and (max-width: 376px) {
  .featured_product {
    width: 100%;
  }
}
/* TYPOGRAPHY */
.simple_header {
  width: 100%;
  text-align: center;
  margin-bottom: 30px;
}
.simple_header h2 {
  font-size: 30px;
  font-weight: 600;
  font-family: "Oswald", sans-serif;
  letter-spacing: 1px;
  text-transform: uppercase;
}
h4 {
  font-size: 18px;
  font-weight: 600;
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
}
.noselect {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
                                    supported by Chrome and Opera */
}
/* CTAs */
.btn {
  display: block;
  color: #ffffff;
  padding: 10px;
  background-color: #000000;
  text-transform: uppercase;
  font-family: "Oswald", sans-serif;
  font-size: 19px;
  text-decoration: none;
  margin: 0 auto;
  letter-spacing: 2px;
  cursor: pointer;
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}
.btn:hover {
  background-color: #00cccc;
}
.feature_btn {
  position: relative;
  width: 160px;
  padding: 25px;
  line-height: 0;
}
.feature_btn:before,
.feature_btn:after {
  content: "";
  width: 0;
  height: 0;
  position: absolute;
  top: 32%;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}
.feature_btn:before {
  border-right: 10px solid black;
  left: -5%;
}
.feature_btn:after {
  border-left: 10px solid black;
  left: 98%;
}
.feature_btn:hover:before {
  border-right-color: #00cccc;
}
.feature_btn:hover:after {
  border-left-color: #00cccc;
}
.link_section {
  width: 100%;
  text-align: center;
  margin: 50px 0;
}
.link_section a {
  font-size: 25px;
  font-weight: 600;
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
  text-decoration: none;
  color: black;
  position: relative;
}
.link_section a .viewlink_icon {
  fill: black;
  stroke: black;
}
.link_section a::after {
  content: "";
  width: 0;
  position: absolute;
  height: 3px;
  background-color: #00cccc;
  bottom: -5px;
  left: 0;
  bottom: -10px;
  -webkit-transition: width 0.5s ease-out;
  transition: width 0.5s ease-out;
}
.link_section a:hover::after {
  width: 100%;
}
.promo_boxes_container {
  position: relative;
  margin: 0 auto;
  padding: 30px 50px 50px;
  padding-right: 0;
  overflow: hidden;
  background-color: #f8f8f8;
}
.promo_boxes_container .promo_slider {
  font-size: 0;
  position: relative;
}
.promo_boxes_container .promo_box {
  width: 515px;
  height: 350px;
  display: inline-block;
  margin-right: 20px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  overflow: hidden;
}
.promo_boxes_container .promo_box:last-child {
  margin-right: 0;
}
.promo_boxes_container .promo_box_copy_container {
  position: absolute;
  bottom: 10%;
  width: 100%;
  padding: 0 40px;
  text-decoration: none;
  z-index: 100;
}
.promo_boxes_container .promo_box_maincopy {
  font-size: 35px;
  text-transform: uppercase;
  font-family: "Oswald", sans-serif;
  letter-spacing: 2px;
  font-weight: 600;
  color: white;
  margin-bottom: 25px;
  position: absolute;
  top: -30px;
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}
.promo_boxes_container .promo_box_subcopy {
  font-size: 24px;
  text-transform: uppercase;
  font-family: "Oswald", sans-serif;
  letter-spacing: 1px;
  color: white;
  margin-bottom: 25px;
  margin-right: 10px;
  position: absolute;
  left: -90px;
  top: -25px;
  opacity: 0;
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}
.promo_boxes_container .promo_box_overlay {
  position: absolute;
  left: 0;
  top: 0;
  background-color: #00cccc;
  width: 100%;
  height: 100%;
  z-index: 0;
  opacity: 0;
  -webkit-transition: opacity 0.3s ease-out;
  transition: opacity 0.3s ease-out;
}
.promo_boxes_container .promo_box:hover .promo_box_overlay {
  opacity: 1;
}
.promo_boxes_container .promo_box:hover .promo_box_maincopy {
  top: -100px;
}
.promo_boxes_container .promo_box:hover .promo_box_subcopy {
  left: 40px;
  opacity: 1;
}
@media screen and (max-width: 376px) {
  .promo_boxes_container {
    padding: 30px 0 50px;
  }
  .promo_boxes_container .promo_box {
    width: 275px;
  }
  .promo_boxes_container .promo_box_copy_container {
    bottom: 26%;
  }
}
.testimonial_container {
  position: relative;
  margin: 0 auto;
  padding: 30px 50px 0;
  width: 100%;
  font-size: 0;
}
.testimonial_container .testimonial {
  width: 100%;
  position: relative;
}
.testimonial_container .testimonial_primary {
  position: relative;
  width: 68%;
  display: inline-block;
  height: 500px;
  margin-right: 2%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.testimonial_container .testimonial_primary .testimonial_overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.8;
}
.testimonial_container .testimonial_primary .testimonial_primary_copybox {
  position: absolute;
  bottom: 0;
  height: 70%;
  width: 100%;
  opacity: 1;
}
.testimonial_container .testimonial_primary .testimonial_primary_copy {
  font-size: 32px;
  text-transform: uppercase;
  font-family: "Oswald", sans-serif;
  letter-spacing: 2px;
  font-weight: 600;
  color: white;
  text-align: center;
  width: 65%;
  margin: 0 auto;
  -webkit-transition: color 0.5s ease-out;
  transition: color 0.5s ease-out;
}
.testimonial_container .testimonial_primary .testimonial_primary_subcopy {
  font-size: 24px;
  text-transform: uppercase;
  font-family: "Oswald", sans-serif;
  letter-spacing: 1px;
  color: white;
  text-align: center;
  margin-top: 65px;
  -webkit-transition: color 0.5s ease-out;
  transition: color 0.5s ease-out;
}
.testimonial_container .testimonial_secondary {
  width: 30%;
  display: inline-block;
  height: 500px;
  position: absolute;
  overflow: hidden;
}
.testimonial_container .testimonial_primary:hover .testimonial_primary_copy {
  color: #00cccc;
}
.testimonial_container .testimonial_primary:hover .testimonial_primary_subcopy {
  color: #00cccc;
}
.testimonial_container .testimonial_primary:hover .viewlink_icon {
  stroke: #00cccc;
  fill: #00cccc;
}
.testimonial_container .testimonial_secondary_upper {
  width: 100%;
  height: 50%;
  position: relative;
}
.testimonial_container .testimonial_secondary_upper img {
  width: 100%;
  height: 100%;
  position: absolute;
}
.testimonial_container .testimonial_secondary_lower {
  width: 100%;
  height: 50%;
  background-color: #eb4a61;
  position: relative;
  padding-left: 50px;
}
.testimonial_container .testimonial_secondary_lower .testimonial_secondary_copy {
  margin: 0 auto;
  font-size: 32px;
  text-transform: uppercase;
  font-family: "Oswald", sans-serif;
  letter-spacing: 1px;
  font-weight: 600;
  color: white;
  width: 70%;
  position: absolute;
  top: 40%;
  -webkit-transition: top 0.5s ease-out;
  transition: top 0.5s ease-out;
}
.testimonial_container .testimonial_secondary_lower .testimonial_secondary_subcopy {
  font-size: 25px;
  text-transform: uppercase;
  font-family: "Oswald", sans-serif;
  letter-spacing: 2px;
  color: white;
  position: absolute;
  bottom: 15%;
  left: -70px;
  opacity: 0;
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}
.testimonial_container .testimonial_secondary:hover .testimonial_secondary_copy {
  top: 25%;
}
.testimonial_container .testimonial_secondary:hover .testimonial_secondary_subcopy {
  left: 50px;
  opacity: 1;
}
@media screen and (max-width: 376px) {
  .testimonial_container {
    padding: 30px 0 0;
  }
  .testimonial_container .testimonial_primary {
    width: 100%;
    display: block;
  }
  .testimonial_container .testimonial_secondary {
    width: 100%;
    display: block;
  }
  .testimonial_container .testimonial_secondary {
    position: relative;
  }
}
.header_container {
  width: 100%;
  font-size: 0;
  display: flex;
}
.header_container .logo_container {
  text-align: center;
  background-color: #151515;
  flex-grow: 1;
  position: relative;
}
.header_container .logo_container img {
  max-width: 100%;
}
.header_container .menu_container {
  font-size: 0;
  vertical-align: top;
  background-color: #151515;
  flex-grow: 20;
  overflow-x: hidden;
}
.header_container .menu_container .menu_upper {
  width: 100%;
  display: flex;
}
.header_container .menu_container .menu_upper .menu_primarylinks {
  display: inline-block;
  background-color: #151515;
  padding-top: 30px;
  flex-grow: 5;
}
.header_container .menu_container .menu_upper .menu_primarylinks a {
  position: relative;
  font-size: 22px;
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
  color: white;
  display: inline-block;
  margin-right: 20px;
  text-decoration: none;
  letter-spacing: 2px;
}
.header_container .menu_container .menu_upper .menu_primarylinks a::after {
  content: "";
  width: 0;
  position: absolute;
  height: 3px;
  background-color: #00cccc;
  bottom: -5px;
  left: 0;
  bottom: -10px;
  -webkit-transition: width 0.5s ease-out;
  transition: width 0.5s ease-out;
}
.header_container .menu_container .menu_upper .menu_primarylinks a:hover::after {
  width: 100%;
}
.header_container .menu_container .menu_upper .menu_search {
  display: inline-block;
  vertical-align: top;
  position: relative;
  padding-top: 20px;
  background-color: #151515;
  flex-grow: 3;
}
.header_container .menu_container .menu_upper .menu_search input[type="text"] {
  width: 100%;
  padding: 10px 25px;
  border: none;
  border-radius: 30px;
  font-size: 20px;
  font-family: "Oswald", sans-serif;
  color: #222222;
}
.header_container .menu_container .menu_upper .menu_search input[type="text"]::placeholder {
  color: #222222;
}
.header_container .menu_container .menu_upper .menu_search input:focus {
  outline: none;
}
.header_container .menu_container .menu_upper .menu_shoptools {
  display: inline-block;
  background-color: #151515;
  vertical-align: top;
  padding: 5px;
  flex-grow: 1;
  display: flex;
}
.header_container .menu_container .menu_upper .menu_shoptools .user_section {
  text-align: center;
  flex-grow: 1;
  padding-top: 2px;
  margin: 5px;
}
.header_container .menu_container .menu_upper .menu_shoptools .basket_section {
  text-align: center;
  flex-grow: 1;
  margin: 5px;
}
.header_container .menu_container .menu_upper .menu_shoptools .search_section {
  text-align: center;
  flex-grow: 1;
  margin: 5px;
  display: inline-block;
}
.header_container .menu_container .menu_upper .menu_shoptools .menu_section {
  text-align: center;
  flex-grow: 1;
  margin: 5px;
  display: none;
}
.header_container .menu_container .menu_lower {
  width: 100%;
  min-width: 1000px;
  background-color: #151515;
  padding-top: 10px;
}
.header_container .menu_container .menu_lower a {
  font-size: 18px;
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
  color: #a8a8a8;
  display: inline-block;
  margin-right: 25px;
  text-decoration: none;
  letter-spacing: 1px;
  -webkit-transition: color 0.3s ease-out;
  transition: color 0.3s ease-out;
}
.header_container .menu_container .menu_lower a:hover {
  color: white;
}
.user_section:hover .user_icon {
  stroke: #00cccc;
  fill: #00cccc;
}
.basket_section:hover .basket_icon {
  stroke: #00cccc;
  fill: #00cccc;
}
.search_section:hover .search_icon {
  stroke: #00cccc;
  fill: #00cccc;
}
.menu_section:hover .menu_icon {
  stroke: #00cccc;
  fill: #00cccc;
}
.user_icon {
  display: inline-block;
  width: 35px;
  height: 35px;
  stroke-width: 0;
  stroke: white;
  fill: white;
  margin-top: 15px;
  -webkit-transition: stroke 0.3s ease-out;
  transition: stroke 0.3s ease-out;
  -webkit-transition: fill 0.3s ease-out;
  transition: fill 0.3s ease-out;
}
.basket_icon {
  display: inline-block;
  width: 35px;
  height: 35px;
  stroke-width: 0;
  stroke: white;
  fill: white;
  margin-top: 15px;
  -webkit-transition: stroke 0.3s ease-out;
  transition: stroke 0.3s ease-out;
  -webkit-transition: fill 0.3s ease-out;
  transition: fill 0.3s ease-out;
}
.search_icon {
  display: none;
  width: 30px;
  height: 30px;
  stroke-width: 0;
  stroke: white;
  fill: white;
  margin-top: 22px;
  -webkit-transition: stroke 0.3s ease-out;
  transition: stroke 0.3s ease-out;
  -webkit-transition: fill 0.3s ease-out;
  transition: fill 0.3s ease-out;
}
.menu_icon {
  display: inline-block;
  width: 30px;
  height: 30px;
  stroke-width: 0;
  stroke: white;
  fill: white;
  margin-top: 22px;
  -webkit-transition: stroke 0.3s ease-out;
  transition: stroke 0.3s ease-out;
  -webkit-transition: fill 0.3s ease-out;
  transition: fill 0.3s ease-out;
}
@media screen and (max-width: 900px) {
  .search_icon {
    display: inline-block;
  }
  .header_container .menu_container .menu_upper .menu_search {
    display: none;
  }
}
@media screen and (max-width: 376px) {
  .header_container .menu_container .menu_upper .menu_primarylinks {
    display: none;
  }
  .header_container .menu_container .menu_lower {
    display: none;
  }
  .header_container .logo_container {
    width: 125px;
  }
  .header_container .menu_container .menu_upper .menu_shoptools .menu_section {
    display: inline-block;
  }
}
/* FOOTER */
.footer_container {
  background-color: #151515;
}
.footer_container .footer_main,
.footer_container .footer_lower {
  display: flex;
}
.footer_container .footer_main {
  width: 80%;
  margin: 0 auto;
  padding: 100px 0 50px;
  background-color: #151515;
}
.footer_container .footer_linksection {
  flex-grow: 1;
  margin-right: 30px;
}
.footer_container .footer_linksection .link_group {
  display: flex;
}
.footer_container .footer_linksection h4 {
  color: white;
}
.footer_container .footer_linksection ul {
  padding-top: 30px;
  flex-grow: 1;
}
.footer_container .footer_linksection ul li {
  padding: 10px 0;
}
.footer_container .footer_linksection ul a {
  font-size: 18px;
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
  text-decoration: none;
  color: #a8a8a8;
  -webkit-transition: color 0.3s ease-out;
  transition: color 0.3s ease-out;
}
.footer_container .footer_linksection ul a:hover {
  color: white;
}
.footer_container .footer_copyright,
.footer_container .footer_logo,
.footer_container .footer_minor_links_container {
  flex-grow: 1;
  height: 80px;
  background-color: black;
  padding: 30px 0;
}
.footer_container .footer_copyright {
  color: #a8a8a8;
  font-size: 18px;
  font-family: "Oswald", sans-serif;
  padding-left: 50px;
}
.footer_container .footer_logo {
  padding: 20px 0;
}
.footer_container .footer_minor_links_container {
  position: relative;
}
.footer_container .footer_minor_links {
  position: absolute;
  right: 0;
  margin-right: 50px;
}
.footer_container .footer_minor_links a {
  font-size: 18px;
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
  text-decoration: none;
  color: #a8a8a8;
  padding: 0 10px;
  border-right: 1px #a8a8a8 solid;
  -webkit-transition: color 0.3s ease-out;
  transition: color 0.3s ease-out;
}
.footer_container .footer_minor_links a:hover {
  color: white;
}
@media screen and (max-width: 376px) {
  .footer_container .footer_main {
    padding: 50px 0 50px;
    display: block;
  }
  .footer_container .footer_linksection {
    margin: 0 0 30px;
  }
  .footer_container .footer_lower {
    display: block;
  }
  .footer_container .footer_logo {
    width: 50%;
    margin: 0 auto;
    background-color: #151515;
  }
  .footer_container .footer_logo img {
    width: 100%;
  }
}
/* SOCIAL LINKS */
.social_links {
  display: flex;
  padding-top: 50px;
}
.social_links .social_links_item {
  flex-grow: 1;
}
.social_links .social_links_item a:hover .icon_twitter {
  stroke: white;
  fill: white;
}
.social_links .social_links_item a:hover .icon_facebook {
  stroke: white;
  fill: white;
}
.social_links .social_links_item a:hover .icon_youtube {
  stroke: white;
  fill: white;
}
.icon_twitter {
  display: inline-block;
  width: 30px;
  height: 30px;
  stroke-width: 0;
  stroke: #1DA1F2;
  fill: #1DA1F2;
  -webkit-transition: stroke 0.3s ease-out;
  transition: stroke 0.3s ease-out;
  -webkit-transition: fill 0.3s ease-out;
  transition: fill 0.3s ease-out;
}
.icon_facebook {
  display: inline-block;
  width: 30px;
  height: 30px;
  stroke-width: 0;
  stroke: #4867AA;
  fill: #4867AA;
  -webkit-transition: stroke 0.3s ease-out;
  transition: stroke 0.3s ease-out;
  -webkit-transition: fill 0.3s ease-out;
  transition: fill 0.3s ease-out;
}
.icon_youtube {
  display: inline-block;
  width: 30px;
  height: 30px;
  stroke-width: 0;
  stroke: #FF0000;
  fill: #FF0000;
  -webkit-transition: stroke 0.3s ease-out;
  transition: stroke 0.3s ease-out;
  -webkit-transition: fill 0.3s ease-out;
  transition: fill 0.3s ease-out;
}
@media screen and (max-width: 376px) {
  .social_links {
    padding-top: 30px;
    width: 50%;
  }
}
/* PRODUCT LISTING */
.product_list_container {
  width: 100%;
  font-size: 0;
}
.product_list_container .product_list_left,
.product_list_container .product_list_right {
  display: inline-block;
}
.product_list_container .product_list_left {
  width: 20%;
  min-width: 304px;
  padding: 30px 15px 20px;
}
.product_list_container .product_list_right {
  width: 80%;
}
.product_list_container .product_filter_container {
  padding-bottom: 20px;
  border-bottom: 1px solid #a8a8a8;
  margin-bottom: 20px;
}
.product_list_container .product_filter_container h4 {
  color: #151515;
}
.product_list_container .open span {
  transform: rotate(180deg);
  transform-origin: center center;
}
.product_list_container .open .product_category {
  visibility: hidden;
}
.product_list_container .product_filter_header {
  margin-bottom: 20px;
  position: relative;
}
.product_list_container .product_filter_header .product_filter_title {
  display: inline-block;
  cursor: pointer;
}
.product_list_container .product_filter_header .product_filter_title h4 {
  position: relative;
  display: inline-block;
}
.product_list_container .product_filter_header .product_filter_title span {
  display: inline-block;
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}
.product_list_container .product_filter_header .product_filter_reset {
  position: absolute;
  right: 0;
  top: 5px;
}
.product_list_container .product_filter_header .product_filter_reset a {
  font-size: 16px;
  font-family: "Oswald", sans-serif;
  text-decoration: none;
  color: #a8a8a8;
  -webkit-transition: color 0.3s ease-out;
  transition: color 0.3s ease-out;
}
.product_list_container .product_filter_header .product_filter_reset a:hover {
  color: #00cccc;
}
.product_list_container .product_filter_input input[type="text"] {
  width: 100%;
  padding: 9px 17px;
  border: 1px solid #a8a8a8;
  border-radius: 30px;
  font-size: 18px;
  font-family: "Oswald", sans-serif;
  color: #222222;
}
.product_list_container .product_filter_input input[type="text"]::placeholder {
  color: #a8a8a8;
}
.product_list_container .product_filter_input input:focus {
  outline: none;
}
.product_list_container .product_filter_categories {
  width: 100%;
  margin: 0 auto;
}
.product_list_container .product_filter_checkboxes {
  height: 200px;
  overflow-y: scroll;
}
.product_list_container .product_filter_checkboxes::-webkit-scrollbar {
  width: 6px;
  background-color: #f5f5f5;
}
.product_list_container .product_filter_checkboxes::-webkit-scrollbar-thumb {
  background-color: #00cccc;
}
.product_list_container .product_filter_priceslider {
  padding: 15px 0;
}
.product_list_container .product_category {
  width: 80px;
  height: 80px;
  border: 1px solid #a8a8a8;
  display: inline-block;
  margin: 5px;
  position: relative;
  text-align: center;
  padding-top: 14px;
  vertical-align: top;
  background-color: white;
  cursor: pointer;
}
.product_list_container .product_category ::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  border: 4px solid #00cccc;
  top: -4px;
  left: -4px;
  z-index: -10;
  opacity: 0;
  -webkit-transition: opacity 0.3s ease-out;
  transition: opacity 0.3s ease-out;
}
.product_list_container .product_category span {
  display: block;
}
.product_list_container .product_category .category_icon {
  margin-bottom: 7px;
}
.product_list_container .product_category .category_icon .icon_fire {
  -webkit-transition: stroke 0.3s ease-out;
  transition: stroke 0.3s ease-out;
  -webkit-transition: fill 0.3s ease-out;
  transition: fill 0.3s ease-out;
}
.product_list_container .product_category .category_label {
  font-size: 15px;
  font-family: "Oswald", sans-serif;
  text-decoration: none;
  color: #a8a8a8;
  -webkit-transition: color 0.5s ease-out;
  transition: color 0.5s ease-out;
}
.product_list_container .product_category:hover,
.product_list_container .product_category.active {
  border: white;
}
.product_list_container .product_category:hover .category_label,
.product_list_container .product_category.active .category_label {
  color: #151515;
}
.product_list_container .product_category:hover .category_icon .icon_fire,
.product_list_container .product_category.active .category_icon .icon_fire {
  stroke: #151515;
  fill: #151515;
}
.product_list_container .product_category:hover ::before,
.product_list_container .product_category.active ::before {
  opacity: 1;
}
.product_list_container .icon_fire {
  display: inline-block;
  width: 30px;
  height: 30px;
  stroke-width: 0;
  stroke: #a8a8a8;
  fill: #a8a8a8;
}
.product_list_container .icon_ctrl {
  display: inline-block;
  width: 20px;
  height: 20px;
  stroke-width: 0;
  stroke: black;
  fill: black;
}
.form_checkboxlist ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.form_checkboxlist li {
  margin: 20px 0;
}
.styled-checkbox {
  position: absolute;
  opacity: 0;
}
.styled-checkbox + label {
  position: relative;
  cursor: pointer;
  padding: 0;
  color: #222222;
  font-size: 15px;
  font-family: "Oswald", sans-serif;
}
.styled-checkbox + label:before {
  content: "";
  margin-right: 10px;
  display: inline-block;
  vertical-align: text-top;
  width: 20px;
  height: 20px;
  background: #a8a8a8;
}
.styled-checkbox:hover + label:before {
  background: #a8a8a8;
}
.styled-checkbox:checked + label:before {
  background: #00cccc;
}
.styled-checkbox:disabled + label {
  color: #b8b8b8;
  cursor: auto;
}
.styled-checkbox:disabled + label:before {
  box-shadow: none;
  background: #ddd;
}
.styled-checkbox:checked + label:after {
  content: "";
  position: absolute;
  left: 5px;
  top: 9px;
  background: white;
  width: 2px;
  height: 2px;
  box-shadow: 2px 0 0 white, 4px 0 0 white, 4px -2px 0 white, 4px -4px 0 white, 4px -6px 0 white, 4px -8px 0 white;
  transform: rotate(45deg);
}
.rangeslider,
.rangeslider__fill {
  display: block;
  -moz-box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.3);
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}
.rangeslider {
  background: #e6e6e6;
  position: relative;
}
.rangeslider--horizontal {
  height: 15px;
  width: 100%;
}
.rangeslider--vertical {
  width: 20px;
  min-height: 150px;
  max-height: 100%;
}
.rangeslider--disabled {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=40);
  opacity: 0.4;
}
.rangeslider__fill {
  background: #00cccc;
  position: absolute;
}
.rangeslider--horizontal .rangeslider__fill {
  top: 0;
  height: 100%;
}
.rangeslider--vertical .rangeslider__fill {
  bottom: 0;
  width: 100%;
}
.rangeslider__handle {
  background: white;
  border: 1px solid #ccc;
  cursor: pointer;
  display: inline-block;
  width: 30px;
  height: 30px;
  position: absolute;
  background-image: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIwLjAiLz48c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMDAwMDAiIHN0b3Atb3BhY2l0eT0iMC4xIi8+PC9saW5lYXJHcmFkaWVudD48L2RlZnM+PHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgZmlsbD0idXJsKCNncmFkKSIgLz48L3N2Zz4g");
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(255, 255, 255, 0)), color-stop(100%, rgba(0, 0, 0, 0.1)));
  background-image: -moz-linear-gradient(rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.1));
  background-image: -webkit-linear-gradient(rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.1));
  background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.1));
  -moz-box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}
.rangeslider__handle:after {
  content: "";
  display: block;
  width: 15px;
  height: 15px;
  margin: auto;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwLjEzIi8+PHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjZmZmZmZmIiBzdG9wLW9wYWNpdHk9IjAuMCIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==");
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(0, 0, 0, 0.13)), color-stop(100%, rgba(255, 255, 255, 0)));
  background-image: -moz-linear-gradient(rgba(0, 0, 0, 0.13), rgba(255, 255, 255, 0));
  background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.13), rgba(255, 255, 255, 0));
  background-image: linear-gradient(rgba(0, 0, 0, 0.13), rgba(255, 255, 255, 0));
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}
.rangeslider__handle:active,
.rangeslider--active .rangeslider__handle {
  background-image: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwLjEiLz48c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMDAwMDAiIHN0b3Atb3BhY2l0eT0iMC4xMiIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==");
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(0, 0, 0, 0.1)), color-stop(100%, rgba(0, 0, 0, 0.12)));
  background-image: -moz-linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.12));
  background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.12));
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.12));
}
.rangeslider--horizontal .rangeslider__handle {
  top: -8px;
  touch-action: pan-y;
  -ms-touch-action: pan-y;
}
.rangeslider--vertical .rangeslider__handle {
  left: -10px;
  touch-action: pan-x;
  -ms-touch-action: pan-x;
}
input[type="range"]:focus + .rangeslider .rangeslider__handle {
  -moz-box-shadow: 0 0 8px rgba(255, 0, 255, 0.9);
  -webkit-box-shadow: 0 0 8px rgba(255, 0, 255, 0.9);
  box-shadow: 0 0 8px rgba(255, 0, 255, 0.9);
}
.range-output {
  width: 100%;
  font-size: 18px;
  margin-top: 15px;
  font-family: "Oswald", sans-serif;
  color: #222222;
}
