<div class="simple_header">
    <h2>Best sellers</h2>
</div>
<div id="featuredprod" class="featured_products_container">
    <div class="featured_product" ng-repeat="(id, product) in featuredProducts">
        <div class="featured_product_img" style="background-image: url({{product.img}});">
            <div class="featured_product_overlay">
                <div class="featured_product_view">
                    <div class="featured_product_viewlink">
                        View details
                        <span ng-include="'assets/svg/viewlink.svg'"></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="product_detail">
            <div class="product_weight">
                {{product.quantity}}
            </div>
            <div class="product_name">
                {{product.name}}
            </div>
            <div class="product_pos">
                <div class="product_rating_container">
                    <svg class="star-on icon-star-full" ng-repeat="i in getNumber(product.rating) track by $index">
                        <use xlink:href="#icon-star-full"></use>
                        <symbol id="icon-star-full" viewBox="0 0 32 32">
                            <title>star-full</title>
                            <path d="M32 12.408l-11.056-1.607-4.944-10.018-4.944 10.018-11.056 1.607 8 7.798-1.889 11.011 9.889-5.199 9.889 5.199-1.889-11.011 8-7.798z"></path>
                        </symbol>
                    </svg>
                    <svg class="star-off icon-star-full" ng-repeat="i in getNumber(5 - product.rating)">
                        <use xlink:href="#icon-star-full"></use>
                        <symbol id="icon-star-full" viewBox="0 0 32 32">
                            <title>star-full</title>
                            <path d="M32 12.408l-11.056-1.607-4.944-10.018-4.944 10.018-11.056 1.607 8 7.798-1.889 11.011 9.889-5.199 9.889 5.199-1.889-11.011 8-7.798z"></path>
                        </symbol>
                    </svg>
                </div>
                <div class="product_price_container">
                    <span>&pound;{{product.before_price}}</span>&pound;{{product.price}}
                </div>
            </div>
        </div>
        <div class="divider"></div>
        <div class="quantity_container">
            <div class="quantity_control">
                <span ng-include="'assets/svg/minus.svg'" ng-click="removeQuantity($index)"></span>
                <span>
                    <input value="1" type="number" id="quantity_{{$index}}" class="quantity_manual" />
                </span>
                <span ng-include="'assets/svg/plus.svg'" ng-click="addQuantity($index)"></span>
            </div>
            <div class="quantity_add">
                <a ng-click="" class="btn">Add</a>
            </div>
        </div>
    </div>
</div>