<div class="footer_container">
    <div class="footer_main">
        <div class="footer_linksection footer_main_left">
            <h4>Flavours & occasions</h4>
            <div class="link_group">
                <ul>
                    <li>
                        <a href="#">
                            Beef
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            Lamb
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            Pork
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            Veal
                        </a>
                    </li>
                </ul>
                <ul>
                    <li>
                        <a href="#">
                            Poultry
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            Game
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            Christmas
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            New Year
                        </a>
                    </li>
                </ul>
            </div>

        </div>
        <div class="footer_linksection footer_main_middle">
            <h4>More useful links</h4>
            <ul>
                <li>
                    <a href="#">
                        Academy
                    </a>
                </li>
                <li>
                    <a href="#">
                        Book a class
                    </a>
                </li>
                <li>
                    <a href="#">
                        Find our store
                    </a>
                </li>
                <li>
                    <a href="#">
                        Get in touch
                    </a>
                </li>
            </ul>
        </div>
        <div class="footer_linksection footer_main_right">
            <h4>Find us on</h4>
            <ng-include src="'html/components/social-links.html'"></ng-include>
        </div>
    </div>
    <div class="footer_lower">
        <div class="footer_copyright">
            &copy; Donald Butcher & Poulterer Ltd
        </div>
        <div class="footer_logo">
            <img src="https://sweetkizzle.github.io/donaldbutchers/assets/images/donald_logo_alt.png" />
        </div>
        <div class="footer_minor_links_container">
            <div class="footer_minor_links">
                <a href="#">
                    Privacy
                </a>
                <a href="#">
                    T&Cs
                </a>
                <a href="#">
                    Legal
                </a>
                <a href="#">
                    Jobs
                </a>
            </div>
        </div>
    </div>
</div>