<div class="header_container">
    <div class="logo_container">
        <img src="/assets/images/donald_logo.png" />
    </div>
    <div class="menu_container">
        <div class="menu_upper">
            <div class="menu_primarylinks">
                <a href="#">Store</a>
                <a href="#">Academy</a>
                <a href="#">Community</a>
            </div>
            <div class="menu_search">
                <input type="text" name="product_search" placeholder="Type here to search">
            </div>
            <div class="menu_shoptools">
                <a href="#" class="menu_section">
                    <ng-include src="'assets/svg/menu.svg'"></ng-include>
                </a>
                <a href="#" class="search_section">
                    <ng-include src="'assets/svg/search.svg'"></ng-include>
                </a>
                <a href="#" class="user_section">
                    <ng-include src="'assets/svg/user.svg'"></ng-include>
                </a>
                <a href="#" class="basket_section">
                    <ng-include src="'assets/svg/basket.svg'"></ng-include>
                </a>
            </div>
        </div>
        <div class="menu_lower">
            <a href="#">Beef</a>
            <a href="#">Lamb</a>
            <a href="#">Pork</a>
            <a href="#">Veal</a>
            <a href="#">Poultry</a>
            <a href="#">Game</a>
            <a href="#">For the barbie!</a>
            <a href="#">Lean cuts</a>
        </div>
    </div>
</div>