<div class="social_links">
    <div class="social_links_item twitter">
        <a href="#">
            <ng-include src="'assets/svg/twitter.svg'"></ng-include>
        </a>
    </div>
    <div class="social_links_item facebook">
        <a href="#">
            <ng-include src="'assets/svg/facebook.svg'"></ng-include>
        </a>
    </div>
    <div class="social_links_item youtube">
        <a href="#">
            <ng-include src="'assets/svg/youtube.svg'"></ng-include>
        </a>
    </div>
</div>