<div class="testimonial_container">
    <div class="simple_header">
        <h2>Latest from Donald butchers</h2>
    </div>
    <div class="testimonial">
        <div class="testimonial_primary" style="background-image: url(https://sweetkizzle.github.io/donaldbutchers/assets/images/promo/butcher-with-lamb.jpg);">
            <a href="#" class="testimonial_overlay">
                <div class="testimonial_primary_copybox">
                    <div class="testimonial_primary_copy">
                        A journey of quality. Mapped from slaughter to your plate.
                    </div>
                    <div class="testimonial_primary_subcopy">
                        About us <ng-include src="'assets/svg/viewlink.svg'"></ng-include>
                    </div>
                </div>
            </a>
        </div>
        <a href="#" class="testimonial_secondary">
            <div class="testimonial_secondary_upper">
                <img src="https://sweetkizzle.github.io/donaldbutchers/assets/images/promo/meat-gallery.jpg" />
            </div>
            <div class="testimonial_secondary_lower">
                <div class="testimonial_secondary_copy">
                    This is a story from the blog
                </div>
                <div class="testimonial_secondary_subcopy">
                        Read this <ng-include src="'assets/svg/viewlink.svg'"></ng-include>
                </div>
            </div>
        </a>
    </div>
    <div class="link_section">
        <a href="#">
            More from us <ng-include src="'assets/svg/viewlink.svg'"></ng-include>
        </a>
      </div>
</div>